@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed&display=swap');

/* body{
  padding: 0 2.5rem;;
} */

#root {
  max-width: 1280px;
  margin:  auto;
  padding: 0.2rem 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'Roboto Condensed', sans-serif;}

.header{
  font-size: 20px;
  font-family: 'Roboto Condensed', sans-serif;
}

h1{
  font-size: 50px;
}

.card{
  border-radius: 10px;
  border: 1px solid rgb(161, 161, 161);
  padding: 1rem 3.5rem 3rem 3.5rem;
  margin: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h3{
  text-align: left;
  font-size: 40px;
  font-family: 'Roboto Condensed', sans-serif;
}

.desc{
  text-align: center;
  margin-bottom: 2.5rem;
}

input{
  border:none;
  border-bottom:1px solid rgb(161, 161, 161);
  font-size: 20px;
  /* margin: 0 13%; */
  padding:0.5rem 1rem;
  width: 150px !important;
  outline: none;
  font-weight: 600;
}

.inputs{
  display: flex;
  scale: 1.1;
  margin: 0 1.8%;
}

.inpt{
  display: flex;
  flex-direction: row;

}

.input1,.input2,.input3,.btn{
  margin: 0 3%;
  display: flex;
  flex-direction: column;
}

.currency{
  position: relative;
  width: 16px;
  height: 16px;
  top: -1.8rem;
  font-size: 16px;
  left:-0.2rem;
  text-align: left;
  color:rgb(108, 108, 108);
}

.inputs{
  display: flex;
  justify-content: left;
}

.pretxt{
  font-size: 17px;
  text-align: left;
}

.btn{
  display: flex;
  align-items: center;
  border-radius: 4px;
  border: 1px solid rgb(0, 0, 0);
  padding: 1% 3%;
  height: 25px;
  justify-content: center;
  margin-top: 1%;
  transition: 0.3s;
  color: black;
  text-decoration: none;
}

.btn:hover{
  background-color: black;
  color: white;
  cursor: pointer;
}

.doughnut,.not_chart{
  width: 800px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 3rem auto;
}

.results{
  text-align: left;
  margin: 0 3.5rem;
  width: 450px;
}

.Doughnut{
  /* width: 600px; */
  margin: 0 3.5rem;
}

.total{
  display: flex;flex-direction: column;
  margin: 1rem ;
}

.result{
  font-size: 40px;
  font-weight: 600;
  padding: 1% 8%;
}


